// color variables

$color--background: #0d1117;
$color--primary: #c9d1d9;
$border--line: #30363d;
$tag: rgba(56, 139, 253, 0.15);
$tag--hover: #1f6feb;
$color--white: #ffffff;
$color--blue: #58a6ff;
$color--gray: #8B949E;
$programming__language--border: rgba(255,255,255,0.2);

//border
$border--radius: 8px;
